
<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created. Server is {{ serverName }}</p>

<br><br>

<app-server *ngFor="let server of servers"></app-server>



<!-- Don't mix property binding and string interpolation -->
<!-- Property binding is using [] I think and string interpolation uses {{ }} -->